<!DOCTYPE html>
<head>
    <title> Result</title>
    <style>  
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        th {
            text-align: left;
        }
        caption {
        font-size: 160%;
        font-weight: bold;
        }   
    </style>
<body>
    <center>
        <table>
            <caption>Monthly Flight Summary</caption>
            <tr>
                <th>Month</th>
                <th>Number of Flights</th>
                <th>Year</th>
                <th>Airline</th>
                <th>Type</th>
                <th>origin_country</th>
            </tr>
            {% for result in object_list %}
            <tr>
                <td><a href="/search_results/?q={{result.month}}">{{result.month}}</a></td>
                <td>{{result.count}}</td>
                <td>{{result.year}}</td>
                <td>{{result.airline}}</td>
                <td>{{result.type}}</td>
                <td>{{result.count}}</td>

            </tr>
            {% endfor %}
        </table>
    </center>
</body>

</head>
</html>