<!DOCTYPE html>
<head>
    <title> Result</title>
    <style>  
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    th {
        text-align: left;
    }
    caption {
    font-size: 160%;
    font-weight: bold;
    }   
    </style>
<body>
    <center>
        <table>
            <caption>Plane Summary</caption>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Airline</th>
                <th>Number of Flights</th>
                <th>Date</th>
                <th>Plane Type</th>
            </tr>
            {% for result in object_list %}
            <tr>
                <td>{{result.year}}</td>
                <td><a href="/search_month/?q={{result.month}}">{{result.month}}</a></td>
                <td>{{result.Airline}}</td>
                <td>{{result.count}}</td>
                <td>{{result.Date}}</a></td>
                <td>{{result.typecode}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>

</head>
</html>